.places {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 77%;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 80px;
}

@media screen and (max-width: 628px) {
   .places {
       width: 100%;
   }
}

.places:last-child {
   margin-bottom: 0;
}

@media screen and (min-width: 629px) and (max-width: 768px) {
   .places {
       width: 94%;
   }
}

@media screen and (min-width: 629px) and (max-width: 1023px) {
   .places {
       width: 94%;
   }
}